package component

type MainContentInput struct {
	*HomepageContentInput
	*BuyProductContentInput
}

templ MainContent(in MainContentInput) {
	<div>
		switch  {
			case in.HomepageContentInput != nil:
				@HomepageContent(*in.HomepageContentInput)
			case in.BuyProductContentInput != nil:
				@BuyProductContent(*in.BuyProductContentInput)
			default:
				<div>No Content</div>
		}
	</div>
}
