package component

type MainContentInput struct {
	*HomepageContentInput
	*BuyProductContentInput
}

templ MainContent(in MainContentInput) {
	<main class="grow p-4 border-green-500 border-2">
		switch  {
			case in.HomepageContentInput != nil:
				@HomepageContent(*in.HomepageContentInput)
			case in.BuyProductContentInput != nil:
				@BuyProductContent(*in.BuyProductContentInput)
			default:
				<div>No Content</div>
		}
	</main>
}
